<div class="main">
  <div class="left">
    <div class="header">
      <div class="image">
      </div>
    </div>
    <div class="content">
      <div class="contact">
        <h3>contact</h3>
        <p>
          <span>tel : </span> <span>+237 678 587 241</span>
        </p>
        <p>
          <span>mail : </span> <span> exemple&#64;gmail.com </span>
        </p>
        <p>
          <span>location : </span> <span> Saint denise </span>
        </p>
      </div>
      <div class="studies">
        <h3>Parcour</h3>
        <p>
          <span class="years">20xx-20xx </span>
        </p>
        <p>
          <span class="school">Ecole de la primature</span>
          <span class="diplome">Baccalauréat</span>
        </p>
        <p>
          <span class="years">20xx-20xx </span>
        </p>
        <p>
          <span class="school">Ecole de la primature</span>
          <span class="diplome">Baccalauréat</span>
        </p>
        <p>
          <span class="years">20xx-20xx </span>
        </p>
        <p>
          <span class="school">Ecole de la primature</span>
          <span class="diplome">Baccalauréat</span>
        </p>
      </div>
      <div class="languages">
        <h3>Langues</h3>
        <p>
          <span>Francais</span>
        </p>
        <p>
          <span>Englais</span>
        </p>
        <p>
          <span>Chinois</span>
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="name">
      <h1>SARA CLARK <span> Anne Marie</span> </h1>
      <div class="work">Web designer</div>
    </div>
    <div class="profile">
      <h2>profile</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente consequatur officiis dolorum error tenetur in sunt ut mollitia. Itaque eius neque, repellat magni tempore laboriosam architecto ut omnis fuga.
        Unde fugit qui, asperiores aut consectetur quo. Inventore blanditiis praesentium quas dicta excepturi reprehenderit porro? A, quos id voluptatibus quod voluptates quis dolorem aspernatur modi, tempora dolore, culpa nobis labore?
        eveniet soluta quae nemo eos veritatis accusantium, reiciendis sunt perferendis culpa aliquid. Eos, suscipit? Commodi rerum nam rem quo, totam aut!
      </p>
    </div>
    <div class="competences">
      <h2>Competences</h2>
      <div class="competence">
        <div class="titre">Titre de la competence </div>
        <div class="description">
          Lorem ipsum dolor sit amet jhjk alos yens sèpa,sd .
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam harum enim impedit itaque alias hic. Voluptates exercitationem eum eveniet tenetur repellat ad cum, laudantium dolor, voluptatum sit molestias? Optio, impedit.
        </div>
      </div>
      <div class="competence">
        <div class="titre">Titre de la competence </div>
        <div class="description">
          Lorem ipsum dolor sit amet jhjk alos yens sèpa,sd .
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam harum enim impedit itaque alias hic. Voluptates exercitationem eum eveniet tenetur repellat ad cum, laudantium dolor, voluptatum sit molestias? Optio, impedit.
        </div>
      </div>
      <div class="competence">
        <div class="titre">Titre de la competence </div>
        <div class="description">
          Lorem ipsum dolor sit amet jhjk alos yens sèpa,sd .
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam harum enim impedit itaque alias hic. Voluptates exercitationem eum eveniet tenetur repellat ad cum, laudantium dolor, voluptatum sit molestias? Optio, impedit.
        </div>
      </div>
    </div>
    <div class="references">
      <h2>References</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae nobis doloribus mollitia quia pariatur suscipit cupiditate facilis neque magnam? Minima.
      </p>
    </div>
  </div>
</div>
