<div class="main">
  <div class="panel">
    <div class="header">
      <div class="logo">
        <span class="start">cv</span> <span class="end">Builder</span>
      </div>
      <div class="message">
        <p>build your cv</p>
      </div>
    </div>

    <div class="content">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Ana clark">
        </div>

        <div class="form-group">
          <input type="email" class="form-control0" id="email" placeholder="ana.clark@gmail.com">
          <input type="tel" class="form-control0" id="phone" placeholder="+237 674 82 74 80">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Cameroun Yaoundé 147 rue Rosa Park">
        </div>

        <div class="form-group">
          <input type="file" class="form-control" id="file-upload" placeholder="Upload Photo">
        </div>

        <div class="form-group">
          <div class="titre">donner une breve communication sur vous</div>
          <textarea maxlength="500" placeholder="Décrivez-vous en 500 mots max"></textarea>
        </div>

        <div class="titre1">
          Experience
        </div>

        <div class="form-group">
          <input type="text" class="form-control0" id="company-name" placeholder="Nom de l'entreprise">
          <input type="text" class="form-control0" id="job-title" placeholder="Poste occupé">
        </div>

        <div class="form-group">
          <input type="text" class="form-control0" id="start-date" placeholder="Date de début">
          <input type="text" class="form-control0" id="end-date" placeholder="Date de fin">
        </div>

        <div class="form-group">
          <textarea maxlength="500" placeholder="Décrivez votre expérience en 500 mots max"></textarea>
        </div>

        <div class="titre1">
          Formation
        </div>

        <div class="form-group">
          <input type="text" class="form-control0" id="school-name" placeholder="Nom de l'établissement">
          <input type="text" class="form-control0" id="degree" placeholder="Diplôme obtenu">
        </div>

        <div class="form-group">
          <input type="text" class="form-control0" id="school-start-date" placeholder="Date de début">
          <input type="text" class="form-control0" id="school-end-date" placeholder="Date de fin">
        </div>

        <div class="form-group">
          <textarea maxlength="500" placeholder="Décrivez votre formation en 500 mots max"></textarea>
        </div>
        <button type="submit" class="btn btn-primary ion-button">Telecharger votre cv</button>
      </form>
    </div>
  </div>
</div>


